<!--The content below is only a placeholder and can be replaced.
Tipos de BINDS
() = HTML -> TS
[] = TS -> HTML
[()] = TS <-> HTML

-->
<div>
  <h1 class="title animate__bounce">
    {{title}}
  </h1>
  <ul aminated flixInX *ngIf="mode==='list'">
    <p class="text-center" *ngIf="todos.length===0">
      <small>No records found</small>
    </p>
    <li *ngFor="let todo of todos">
      {{todo.description}}
      <button (click)="removeTodo(todo)">
        <i class="far fa-trash-alt"></i>
      </button>
      <button *ngIf="!todo.done" (click)="doneTodo(todo)">
        <i class="far fa-check-circle"></i>
      </button>
      <button *ngIf="todo.done" (click)="undoTodo(todo)">
        <i class="fas fa-check-circle"></i>
      </button>
    </li>
  </ul>

  <div id="modal" *ngIf="mode==='add'">
    <h1 class="text-center">New Task</h1>
    <form [formGroup]="form">
      <fieldset>
        <input
          type="text"
          placeholder="Entry a new task"
          maxlength="60"
          formControlName="description"
        />
        <br />
        <br />
        <small
          class="danger text-center"
          *ngIf="form.controls.description.invalid && 
        !form.controls.description.pristine"
        >
          This field must contain between 3 and 60 characters
          <br />
        </small>
        <p class="text-center">
          <button class="button" [disabled]="form.invalid" (click)="addTodo()">
            <i class="fas fa-save"></i>
            Save
          </button>
        </p>
      </fieldset>
    </form>
  </div>
  <br />
  <button
    class="add-button button"
    (click)="changeMode('add')"
    *ngIf="mode==='list'"
  >
    <i class="fas fa-plus-circle"></i>
    Add new Task
  </button>
  <br />
  <button
    class="add-button button"
    (click)="changeMode('list')"
    *ngIf="mode==='add'"
  >
    <i class="fas fa-times"></i>
    Cancel
  </button>
</div>
