/* You can add global styles to this file, and also import other style files */

/* estilização HTML component */
body {
  background-color: #f7f0f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

button {
  cursor: pointer;
}

ul {
  text-align: left;
  margin: 10px;
  padding: 10px;
  list-style: none;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  -moz-boz-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

li {
  padding: 15px;
  margin: 10px;
  font-size: 1em;
  font-style: italic;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

li > button {
  border: none;
  background-color: #fff;
  font-size: 1em;
  float: right;
  opacity: 0.6;
  transition: opacity 1s;
}

li > button:hover {
  opacity: 1;
  transition: opacity 1s;
}

/* estilização class */
.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2f1b2d;
  font-size: 4em;
  text-shadow: 3px 5px #a39999;
}

.text-center {
  text-align: center;
}

.button {
  background-color: #000;
  border: none;
  border-radius: 30px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}

/* estilazação ID */
#modal {
  text-align: left;
  margin: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 14px 0 rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 3px 4px 14px 0 rgba(0, 0, 0, 0.39);
  box-shadow: 3px 4px 14px 0 rgba(0, 0, 0, 0.39);
}

input {
  width: 100%;
  line-height: 50px;
  text-indent: 10px;
  font-size: 1.2em;
}

.danger {
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
}
